# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.marks
*.cmake
Makefile
CMakeFiles/
/src/mget
CMakeCache.txt

/src/tmget
/src/core.7284
/src/lib/ctest
GPATH
GRTAGS
GTAGS
*.log
core.*
/src/lib/mget_config.h
/install_manifest.txt
/README.html
/proj/mget.xcodeproj/project.xcworkspace/
proj/mget.xcodeproj/xcuserdata/
*~
/src/ui/gtk/gmget
/doc/

/src/tmp/
